<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Team Managment</title>
    {% load static %}
    <link href="{% static 'Main.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <a href="{% url 'team_member_add' %}">
        <h2 id="plus"></h2>
    </a>
    <br>
    <h1 class="home-header">Team Members</h1>
    <p class="below-header">You have {{ team_members.count }} team members</p>
    <hr>
    <table>
        {% for team_member in team_members %}
        {% if team_member.role == "Admin" %}
        <div>
            <div class="info">
                <img src="{% static 'user.png' %}" alt="Admin" width="50" height="50">
                <div>
                    <a href="{% url 'team_member_edit' team_member.pk %}">{{ team_member.fname }}
                        {{ team_member.lname}}
                    </a>(Admin)
                    <br>
                    {{ team_member.phone}}
                    <br>
                    {{ team_member.email}}
                </div>
            </div>
            <hr>
        </div>
        {% else %}
        <div>
            <div class="info">
                <img src="{% static 'user.png' %}" alt="Admin" width="50" height="50">
                <div>
                    <a href="{% url 'team_member_edit' team_member.pk %}">{{ team_member.fname }}
                        {{ team_member.lname}}
                    </a>

                    <br>
                    {{ team_member.phone}}
                    <br>
                    {{ team_member.email}}
                </div>
            </div>
            <hr>
        </div>
        {% endif %}
        {% endfor %}
    </table>

</body>

</html>